#app{
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #696969;
    padding-top: 60px;
}
h3{
    margin-top: 40px;
}
ul{
    padding: 0
}
a{
    color: #696969;
}